
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
    body {
      background: linear-gradient(to bottom, #000000, #66b0ff);
      font-family: 'Roboto', sans-serif;
         overflow: hidden;
    }
    
    h1 {
      color: #ffffff;
      text-align: center;
      margin-top: 50px;
    }
    
    nav {
      text-align: center;
      margin-top: 20px;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline-block;
      margin: 0 10px;
    }
    
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;
    }
    
    p {
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      line-height: 1.5;
      color: #ffffff;
      animation: fadeIn 2s ease-in-out;
    }
    
          
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

.garland {
  position: relative;
  width: 500px; /* Измените размеры под ваши предпочтения */
  height: 100px;
}

.light {
  position: absolute;
  width: 20px; /* Измените размеры лампочек по желанию */
  height: 20px;
  border-radius: 50%;
  animation: blink 3s infinite; /* Добавляем анимацию мигания */
}

.light1 {
  background-color: #ffff33 ;
  top: 50%;
  left: 20px;
  animation-delay: 0s ;

}

.light2 {
  background-color: #ff3333 ;
  top: 30%;
  left: 100px;
  animation-delay: 1s ;
}

.light3 {
  background-color: #a8ffab ;
  top: 70%;
  left: 180px;
  animation-delay: 2s ;
}

.light4 {
  background-color: #ff337a ;
  top: 80%;
  left: 280px;
  animation-delay: 3s ;
}

.light5 {
  background-color: #ff9900 ;
  top: 40%;
  left: 360px;
  animation-delay: 4s ;
}

.light6 {
  background-color: #3333ff ;
  top: 65%;
  left: 420px;
  animation-delay: 5s ;
}

.light7 {
  background-color: #ffff33 ;
  top: 40%;
  left: 520px;
  animation-delay: 6s ;
}


.light8 {
  background-color: #ff3333 ;
  top: 80%;
  left: 610px;
  animation-delay: 7s ;
}


.light9 {
  background-color: #a8ffab ;
  top: 40%;
  left: 700px;
  animation-delay: 8s ;
}


.light10 {
  background-color: #ff337a ;
  top: 75%;
  left: 800px;
  animation-delay: 9s ;
}

.light11 {
  background-color: #ff9900 ;
  top: 35%;
  left: 900px;
  animation-delay: 10s ;
}

.light12 {
  background-color: #3333ff ;
  top: 75%;
  left: 980px;
  animation-delay: 11s ;
}

.light13 {
  background-color: #ffff33 ;
  top: 25%;
  left: 1080px;
  animation-delay: 12s ;
}

.light14 {
  background-color: #ff3333 ;
  top: 85%;
  left: 1150px;
  animation-delay: 13s ;
}

@keyframes blink {
  0% {
    opacity: 0; /* Лампочка видима */
  }
  50% {
    opacity: 1; /* Лампочка скрыта */
  }
  100% {
    opacity: 0; /* Лампочка видима */
  }
}

 .snowflake-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            z-index: 1;
        }

        .snowflake {
            position: absolute;
            top: -10px;
            color: #fff;
            font-size: 20px;
            animation: snowfall linear infinite;
        }

        @keyframes snowfall {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(100vh);
            }
        }

 @media only screen and (max-width: 600px) {

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: linear-gradient(to bottom, #000000, #66b0ff);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 30px; /* Уменьшаем отступ сверху */
}

nav {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block; /* Изменяем на блочный элемент */
  margin: 10px 0; /* Добавляем отступы сверху и снизу */
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px; /* Уменьшаем размер шрифта */
}

p {
  font-size: 18px; /* Уменьшаем размер шрифта */
  text-align: center;
  margin-top: 30px; /* Уменьшаем отступ сверху */
  line-height: 1.5;
  color: #ffffff;
  animation: fadeIn 2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  /* Дополнительные стили для мобильных устройств */
  h1 {
    font-size: 24px; /* Увеличиваем размер шрифта */
    margin-top: 20px; /* Уменьшаем отступ сверху */
  }

  a {
    font-size: 14px; /* Уменьшаем размер шрифта */
  }

  p {
    font-size: 16px; /* Уменьшаем размер шрифта */
    margin-top: 20px; /* Уменьшаем отступ сверху */
  }
}

.garland {
  position: relative;
  width: 300px; /* Измените размеры под ваши предпочтения */
  height: 60px;
}

.light {
  position: absolute;
  width: 10px; /* Измените размеры лампочек по желанию */
  height: 10px;
  border-radius: 50%;
  animation: blink 3s infinite; /* Добавляем анимацию мигания */
}

.light1 {
  background-color: #ffff33 ;
  top: 50%;
  left: 10px;
  animation-delay: 0s ;
}

.light2 {
  background-color: #ff3333 ;
  top: 30%;
  left: 40px;
  animation-delay: 1s ;
}

.light3 {
  background-color: #a8ffab ;
  top: 70%;
  left: 70px;
  animation-delay: 2s ;
}

.light4 {
  background-color: #ff337a ;
  top: 80%;
  left: 100px;
  animation-delay: 3s ;
}

.light5 {
  background-color: #ff9900 ;
  top: 40%;
  left: 130px;
  animation-delay: 4s ;
}

.light6 {
  background-color: #3333ff ;
  top: 65%;
  left: 160px;
  animation-delay: 5s ;
}

.light7 {
  background-color: #ffff33 ;
  top: 40%;
  left: 190px;
  animation-delay: 6s ;
}

.light8 {
  background-color: #ff3333 ;
  top: 80%;
  left: 220px;
  animation-delay: 7s ;
}

.light9 {
  background-color: #a8ffab ;
  top: 40%;
  left: 250px;
  animation-delay: 8s ;
}

.light10 {
  background-color: #ff337a ;
  top: 75%;
  left: 280px;
  animation-delay: 9s ;
}

.light11 {
  background-color: #ff9900 ;
  top: 35%;
  left: 310px;
  animation-delay: 10s ;
}

.light12 {
  background-color: #3333ff ;
  top: 75%;
  left: 340px;
  animation-delay: 11s ;
}

.light13 {
  background-color: #ffff33 ;
  top: 25%;
  left: 370px;
  animation-delay: 12s ;
}

.light14 {
  background-color: #ff3333 ;
  top: 85%;
  left: 400px;
  animation-delay: 13s ;
}

@keyframes blink {
  0% {
    opacity: 0; /* Лампочка видима */
  }
  50% {
    opacity: 1; /* Лампочка скрыта */
  }
  100% {
    opacity: 0; /* Лампочка видима */
  }
}

.snowflake-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: #fff;
  font-size: 12px; /* Измените размер шрифта под мобильное устройство */
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

 }

